@media (min-width: 600px) {

@font-face {
    font-family: "PoppinsEL";
    src: url(../fonts/Poppins-ExtraLight.otf);
    font-family: "PoppinsBold";
    src: url(../fonts/Poppins-SemiBold.otf);
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    min-height: 100vh;
}

div.website-part-one{
    background-image: url("../Images/imagefond.jpg");
    background-size: cover;
}

div.header-wrapper{
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: 10%;
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 75%;
    border-bottom: 3px rgb(94, 94, 94) solid;
}
nav.cliquable{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    font-family: "PoppinsEl", sans-serif;
}
img.logo{
    height: 75px;
    margin-top: 10px;
}
p.Websitename{
    font-size: 58px;
    color: white;
}
a.page2nd{
    font-size: 58px;
    color: white;
    text-decoration: none;
}
a.page2nd:hover{
    color: rgb(0, 38, 255);
    text-decoration: underline;
    transform: scale(1.05);
}
span.bold{
    font-family: "PoppinsBold", sans-serif;
}


section.part-one{
display: flex;
flex-flow: row wrap;
width: min-content;
justify-content: flex-start;
align-items: center;
margin-left: 10%;
}

p{
    color: white;
}
p.text-one{
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.055);
}
p.text-two{
    font-size: 35px;
    color: rgb(255, 123, 123);
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.486);
}
div.section-wrapper{
    width: 600px;
}
button.btn-primary{
    height: fit-content;
    font-size: 25px;
    background-color: gold;
    color: black;
    border: 1px gold solid;
    margin-bottom: 5%;
}
button.btn-primary:hover{
    transform: scale(1.05);
    background-color: rgb(0, 0, 0);
    border: 2px white solid;
}
}